.idea
.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon

# Dependency directorys
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/
bower_components/
db/

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Floobits
.floo
.floobit
.floo
.flooignore
